.StickyTop {
  padding-left: 3rem;
  background-color: #fff;
  width: 100vw;
  /* position: fixed; */
  top: 0;
  z-index: 9999;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}

.Header {
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 2;
  padding-left: 2rem;
  background-color: rgb(0, 0, 200);
}

.logo {
  align-self: center;
  text-align: left;
  color: rgba(255, 240, 0, 1);
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -2px;
}

.Bottom {
  padding: 3rem;
  background-color: #34393e;
  z-index: 9999;
  display: flex;
  align-items: center;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
}

.listingsContainer {
  width: 100vw
}

.centered {
  flex-direction: row;
  background-color: rgba(255, 240, 0, 1);
  margin-bottom: 4rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  width:100%
}

.centeredButton {
  cursor: pointer;
  background-color: rgba(50, 0, 255, 1);
  border-radius: 60px;
  border: 0;
  padding:1rem;
  width: 240px;
  margin: 0 auto;
}

.centeredButton2 {
  cursor: pointer;
  background-color: #fff;
  border:0;
  /* border-width:8px;
  border-color: rgba(50, 0, 255, 1); */
  border-radius: 60px;
  padding:1rem;
  width: 240px;
  margin: 0 auto;
}

.leftButton {
  cursor: pointer;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 1);
  border:0;
  border-radius: 24px;
  padding:4px;
  width: 200px;
  margin: 0 auto;
}

.contactButton {
  cursor: pointer;
  background-color: rgba(50, 0, 255, 1);
  border-radius: 12px;
  border: 0;
  padding:.25rem;
  width: 240px;
  margin: 24px auto;
}

h1.heroTextH1 {
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: -1px;
  color: #fff;
}

h2.heroTextH2 {
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: -1px;
  color: #fff;
}

h1.heroTextH1Dark {
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: -0.2rem;
  color: #121212;
}

h1.heroTwoTextH1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -0.2rem;
  color: #fff;
}

h1.Logo {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.2rem;
}

h2.textLightH2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}

a.textLink {
  color: #fff;
}

p.textSubtitle {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

p.textLight {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #fff;
}

p.textLightBig {
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  color: #121212;
}

p.subtitle {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #fff;
}

p.subtitleDark {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #121212;
}

span.strong {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
}

.heroTextContainer {
  margin: 9rem 0 0 3rem;
  align-items: center;
  justify-content: center;
}

.heroTextContainerTwo {
  margin: 3rem 0 0 3rem;
  align-items: center;
  justify-content: center;
}

.heroTwo {
  width: 100vw;
  height: 32rem;
  display: flex;
  flex-direction: row;
  background: #ffe6cc;
}

.heroLeftTwo {
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.heroRightTwo {
  flex: 1;
  padding: 0 2rem;
}

.heroLeft {
  flex: 1;
  padding: 0 2rem;
}

.heroRight {
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  margin: 0 auto;
  background: rgb(0, 0, 200);
}

.gridFlex {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  padding-top: 4rem;
}

.Cards {
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
  display: flex;
}

.CardsFooter {
  align-self: center;
}

.cardContainer {
  display: block;
  align-self: center;
  margin: 0 auto;
}

.cardContainerText {
  display: block;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  display: block;
  margin: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.imageContainer {
  display: block;
  width: 32rem;
  height: 32rem;
  padding: 2rem;
  flex-direction: column;
  display: flex;
}

.imageContainerTop {
  flex: 1;
  background-color: rgba(50, 0, 255, 1);
}

.imageContainerBottom {
  flex: 1;
  background-color: rgba(255, 240, 0, 1);
}

.imageContainerLeft {
  display: block;
  width: 32rem;
}

.BottomFooter {
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  margin: 0 auto;
}

.FooterImage {
  flex: 1;

  padding: 0 2rem;
}

.FooterLeft {
  flex: 1;

  padding: 0 2rem;
}

.FooterRight {
  flex: 1;
  padding: 0 2rem;
}

/* Listings */

.list {
  width: 100vw;
  height: 200px;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  margin: 0 auto;
  background-color: aqua;
}

.containerFlex1 {
  flex: 1;
}

.containerFlex2 {
  flex: 2;
}

.containerList p {
  font-size: 1rem;
}

@media (max-width: 1024px) {

  .centered {
    flex-direction: column;
  }

  .centeredButton {
    margin-bottom: 1rem;
  }

  .gridFlex {
    padding-top: 0;
  }

  .heroRightTwo {
    margin-bottom: 3rem;
  }

  .Cards {
    flex-direction: column;
  }
  .CardsFooter {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    display: flex;
  }

  .CardsFooter {
    flex-direction: column;
  }

  .heroTextContainer {
    margin: 12rem 0 0 1rem;
  }

  .BottomFooter {
    display: block;
  }

  .FooterLeft {
    flex: 1;
  }

  .FooterRight {
    flex: 1;
  }

  .FooterImage {
    display: none;
  }
}
